.taskDone {
    text-decoration: line-through;
}

h1 {
    font-size: 58px;
    font-family: 'Kosugi Maru';
    text-align: center;
    
}
h2{
    font-family: 'Kosugi Maru';
    text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: #7f2fc9;
    border-color: #7f2fc9;
}